section#ksum-footer.section-content
  .container
    .row.align-items-center
      .col-sm-4.left-col
        img.img-fluid(src="./img/logo-white.svg" alt="ksum logo")
        .address
          p G3B, Thejaswini, Technopark Campus, Kariyavattom, Trivandrum, Kerala 695581
        //- .phone 
        //-   div 
        //-     i.fa.fa-phone
        //-     | 08033948999
        //-   p ( Timings: 08.00 am to 08.00 pm )
        .social
          a(href="https://www.facebook.com/keralastartupmission" target="_blank" rel="noopener" aria-label="fb link")
            i.fa.fa-facebook
          a(href="https://twitter.com/startup_mission" target="_blank" rel="noopener" aria-label="twitter link")
            i.fa.fa-twitter
          a(href="https://in.linkedin.com/company/kerala-startup-mission" target="_blank" rel="noopener" aria-label="linkedin link")
            i.fa.fa-linkedin
          //- a(href="https://www.pinterest.com/pin/796996465276301175/" target="_blank" rel="noopener" aria-label="pintrest link")
          //-   i.fa.fa-pinterest
          a(href="https://www.youtube.com/results?search_query=kerala+startup+mission" target="_blank" rel="noopener" aria-label="youtube link")
            i.fa.fa-youtube-play
      .col-sm-6
        .address.text-white.text-center
          .row.justify-content-center
            i.fa.fa-phone.p-3
            p.m-0.p-0  95629 11181
        
      //- .col-sm-4.right-col
      //-   img.img-fluid(src="./img/cukt.png" alt="cpcri logo")
      //-   .address
      //-     p.m-0.p-0 Central University of Kerala, Kasaragod, 
      //-     p.m-0.p-0 Kerala, 671320
        

section#ksum-copy
  p Copyright © 2019 Kerala Startup Mission. All Rights Reserved.