nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    li
      a(data-scroll, href='https://events.startupmission.in/rural_conclave_2024' target="_blank") Agenda
    li
      a(data-scroll, href='index.pug#ksum-footer') Contact
    li
      a(data-scroll, href='#') Apply
    