mixin slide(image, sub, head, text)
  .slide
    .slide__img
      img.full-image.animated(src='./static/'+image alt='' data-lazy='./'+image data-animation-in='zoomInImage')
    //- .slide__content
    //-   .slide__content--headings
    //-     //h3.animated.bg_white(data-animation-in='slideInDown')= sub 
    //-     h1.animated(data-animation-in='zoomIn')= head
    //-     p.animated(data-animation-in='slideInUp' data-delay-in='0.2')= text
    //-     //a.btn.btn-info.btn-lg.animated(data-animation-in='slideInUp' data-delay-in='0.2' data-scroll, href='#register-section') Request an Invite

mixin accordion(title, count)
  .tab
    input(type='radio' name='rd' id="rd"+count)
    label.tab-label(for='rd'+count)= title
    .tab-content
      block
