@import "./mixins";
#slider-section {
  .slider-content {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include my_bp(sm) {
      height: 85vh;
    }
    h1 {
      font-size: 5rem;
      color: white;
      text-align: center;
    }
    h2 {
      font-size: 3rem;
      text-align: center;
      color: white;
    }
  }
  .button-section {
    display: flex;
    align-items: center;
    padding: 25px 0px;
    flex-wrap: wrap;
    .button {
      margin: 0px 20px;
      padding: 20px 15px;
      flex: 1 1 auto;
      color: white;
      border: 1px solid rgba(255, 255, 255, 1);
      // width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: all .5s ease-in;
      font-weight: 700;
      &:hover {
        text-decoration: none;
        background: rgba(255, 255, 255, 1);
        color: black;
      }
    }
  }
}


/* HIGHLIGHT */

#highlight {
  padding: 0px;
  height: 15vh;
  h1 {
    color: #262626;
    margin-bottom: 0;
    @include my_bp(sm) {
      color: #ffffff;
    }
  }
  #left {
    color: #b0b0b0;
    min-height: 100px;
    background: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include my_bp(sm) {
      background: #262626;
      text-align: left;
    }
  }
  #right {
    background: none;
    min-height: 100px;
    @include my_bp(sm) {
      background: #fac42b;
    }
    #countdown {
      //padding: 15px 0;
      .countdown_section {
        padding: 15px 0 25px;
      }
    }
  }
}

#benefits {
  padding-bottom: 80px;
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    .grid-item {
      flex: 1 1 auto;
      width: 30%;
      &:nth-of-type(1),
      &:nth-of-type(2) {
        border-right: 1px solid rgba(200, 200, 200, .4);
        border-bottom: 1px solid rgba(200, 200, 200, .4);
      }
      &:nth-of-type(3) {
        //border-right: 1px solid rgba(200, 200, 200, .4);
        border-bottom: 1px solid rgba(200, 200, 200, .4);
      }
      &:nth-of-type(4),
      &:nth-of-type(5) {
        border-right: 1px solid rgba(200, 200, 200, .4);
        //border-bottom: 1px solid rgba(200, 200, 200, .4);
      }
      .grid-content {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        img {
          width: 100px;
        }
        h4 {
          text-align: center;
        }
      }
    }
  }
}

#sponsor {
  background: #f5f5f5;
  .partners {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    .partner-item {
      width: 25%;
      border: 1px solid rgba(200, 200, 200, .4);
      &:before {
        padding: 75%;
      }
    }
  }
}

#guildelines {
  ul {
    li {
      text-align: justify;
    }
  }
  .challenges {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    @include my_bp(sm) {
      flex-direction: row;
    }
    .challenge-item {
      // flex: 1 1 auto;
      width: 95%;
      margin: 10px;
      // padding: 15px;
      box-shadow: 1px 1px 10px rgba(200, 200, 200, .4);
      // background: #262625;
      @include my_bp(sm) {
        width: 30%;
      }
      .challenge-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .slide {
          position: fixed;
          top: 50%;
          left: 50%;
          width: 90vw;
          transform: translate(-50%, -50%);
          background: white;
          padding: 20px;
          box-shadow: 1px 1px 5px rgba(200, 200, 200, .4);
          z-index: 999;
          display: none;
          overflow: auto;
          .table {
            tr {
              th {
                width: 25%;
              }
            }
          }
          .close {
            // display: inline-block;
            margin: 0px 10px 20px;
            width: 30px;
            height: 30px;
            box-shadow: 1px 1px 5px rgba(200, 200, 200, .4);
            text-align: center;
            border-radius: 50%;
            line-height: 30px;
            color: rgba(0, 0, 0, .5);
            float: right;
            cursor: pointer;
            transition: all .5s ease;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .content {
          padding: 15px;
          height: 100%;
        }
        h3 {
          font-family: 'Montserrat', sans-serif;
          font-weight: normal;
          text-align: justify;
        }
        h4 {
          text-align: center;
        }
        p {
          line-height: 2rem;
          text-align: justify;
          font-size: 1.2rem;
        }
        .button {
          text-align: center;
          border-top: 1px solid rgba(200, 200, 200, .4);
          padding: 15px;
          color: #262625;
          transition: all .5s ease-in;
          &:hover {
            text-decoration: none;
            background: #262625;
            color: white;
          }
        }
      }
    }
  }
}

#info {
  background: #262625;
  p {
    color: white;
    text-align: center;
  }
}


/* Accordion styles */

$midnight: #262626;
$clouds: #ecf0f1;
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &:last-of-type {
    .tab-label {
      border-bottom: none;
    }
  }
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0;
    border-bottom: 1px solid $clouds;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s ease;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .35s ease;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  +.tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~.tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 100px;
  max-width: 1000px;
  position: relative;
  z-index: 0;
}

.input {
  width: 25px;
  height: 25px;
  background-color: #2C3E50;
  position: relative;
  border-radius: 50%;
}

.input:hover {
  cursor: pointer;
}

.input::before,
.input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2C3E50;
  width: 12vw;
  height: 5px;
  //max-width: 50px;
}

.input::before {
  left: calc(-4vw + 12.5px);
}

.input::after {
  right: calc(-4vw + 12.5px);
}

.input.active {
  background-color: #2C3E50;
}

.input.active::before {
  background-color: #2C3E50;
}

.input.active::after {
  background-color: #AEB6BF;
}

.input.active span {
  font-weight: 700;
}

.input.active span::before {
  font-size: 13px;
}

.input.active span::after {
  font-size: 15px;
}

.input.active~.input,
.input.active~.input::before,
.input.active~.input::after {
  background-color: #AEB6BF;
}

.input span {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.input span::before,
.input span::after {
  visibility: visible;
  position: absolute;
  left: 50%;
}

.input span::after {
  content: attr(data-year);
  top: 25px;
  transform: translateX(-50%);
  font-size: 14px;
  width: max-content;
}

.input span::before {
  content: attr(data-info);
  top: -110px;
  width: 200px;
  transform: translateX(-5px) rotateZ(-45deg);
  font-size: 14px;
  text-indent: -10px;
}

.description-flex-container {
  width: 80vw;
  font-weight: 400;
  font-size: 22px;
  margin-top: 100px;
  max-width: 1000px;
}

.description-flex-container p {
  margin-top: 0;
  display: none;
}

.description-flex-container p.active {
  display: block;
}

@media (min-width: 1250px) {
  .input::before {
    left: -37.5px;
  }
  .input::after {
    right: -37.5px;
  }
}

@media (max-width: 850px) {
  .input {
    width: 17px;
    height: 17px;
  }
  .input::before,
  .input::after {
    height: 3px;
  }
  .input::before {
    left: calc(-4vw + 8.5px);
  }
  .input::after {
    right: calc(-4vw + 8.5px);
  }
}

@media (max-width: 600px) {
  .flex-parent {
    justify-content: initial;
  }
  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15vh;
  }
  .input {
    width: 150px;
    height: 150px;
    margin: 30px 10px 50px;
    background-color: #AEB6BF;
  }
  .input::before,
  .input::after {
    content: none;
  }
  .input span {
    width: 100%;
    height: 100%;
    display: block;
  }
  .input span::before {
    top: calc(100% + 5px);
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
  .input span::after {
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ECF0F1;
  }
  .description-flex-container {
    margin-top: 30px;
    text-align: center;
  }
}

#speaker-section,
#investor-section {
  .speakers {
    display: flex;
    font-family: 'Blinker', sans-serif;

    flex-wrap: wrap;
    justify-content: center;
    @include my_bp(sm) {
      justify-content: start;
    }
    .speaker-item {
      width: 45%;
      padding: 10px;
      @include my_bp(sm) {
        width: 25%;
      }
      .speaker {
        img {
          max-width: 100%;
          transition: all .1s ease-in;
          filter: grayscale(0%);
          cursor: pointer;
          // &:hover {
          //   filter: grayscale(0%);
          // }
        }
        .desc {
          h4 {
            margin-top: 10px;
            text-align: center;
          }
          p {
            font-size: 12px;
            margin-bottom: 0px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            line-height: 1.5;

          }
        }
      }
    }
  }
}


// #speaker-section {
//   .speakers {
//     display: flex;
//     text-align: center;
//     flex-wrap: wrap;
//     justify-content: center;
//     .speaker {
//       width: 50%;
//       margin-top: 50px;
//       @include my_bp(sm) {
//         width: 25%;
//       }
//       img {
//         width: 160px;
//         border-radius: 50%;
//         padding: 10px;
//         box-shadow: 1px 1px 5px #666;
//         cursor: pointer;
//         transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
//         &:hover {
//           padding: 2px;
//           transform: translateY(-5px);
//         }
//       }
//       .descp {
//         padding-top: 10px;
//         h4 {
//           // padding-top: 10px;
//           font-size: 18px;
//           font-family: 'Blinker', sans-serif;
//           font-weight: bold;
//         }
//         h5 {
//           font-size: 14px;
//           font-family: 'Blinker', sans-serif;
//           margin: 0;
//         }
//       }
//     }
//   }
// }

// .speakers__list{
//   display: grid;
//   grid-template-columns: repeat(4,minmax(0,1fr));
//   gap: 2.5rem;

//   .speakers__item{
//     padding: 1rem;
//     box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
//     position: relative;

//     &:hover{
//       .linkedin{
//         transform: scale(1);
//       }
//       &::before {
//         opacity: 1;
//         transform: scale(1);
//       }
//     }

//     &::before{
//       content: "";
//       position: absolute;
//       display: block;
//       top: 0;
//       right: 0;
//       width: 75%;
//       height: 75%;
//       background: linear-gradient(45deg, rgba(2, 0, 36, 0) 60%, rgba(255, 255, 255, 1) 66%);
//       pointer-events: none;
//       transform: scale(0);
//       transform-origin: right top;
//       opacity: 0;
//       transition: 0.3s ease-out all;
//     }
//   }

//   .linkedin{
//     position: absolute;
//     transform: scale(0);
//     transform-origin: right top;
//     top: 2.5rem;
//     right: 2.5rem;
//     transition: 0.3s ease-out all;
//     svg{
//       width: 3rem;
//       height: 3rem;
//     }
//   }

//   img{
//     max-width: 100%;
//   }

//   .speakers__description{
//     text-align: center;
//     margin-top: 1rem;
//   }

//   .speakers__name{
//     font-weight: bold;
//   }

//   .speakers__designation{
//     font-size: 1.2rem;
//   }

//   .speakers__organisation{
//     font-size: 1.2rem;
//   }

// }

// .speakers__category{
//   display: none;
// }

// .speakers_heading{
//   font-size: 3rem;
//   text-align: center;
//   margin-bottom: 2.5rem;
//   font-weight: bolder;
//   text-transform: capitalize;
// }

.agenda__tabs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  flex-wrap: wrap;

  button{
    border: 0;
    border-radius: 9999px;
  }

  .day-active{
    background-color: #fac42b;
    color: #262626;
    font-weight: 600;
  }
}

.event__container{
  display: flex;
  gap: 1rem;
  align-items: flex-start;

  .event__date{
    width: 12rem;
    text-align: right;
    font-weight: 600;
    // box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    // border-radius: 2rem;
    padding: .5rem;
    flex-shrink: 0;
  }

  .event{
    padding: .5rem 1rem 2rem 2rem;
    border-left: 1px solid #fac42b;
    position: relative;
    width: 100%;

    &::before{
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-color: #7fa540;
      display: block;
      position: absolute;
      left: -.75rem;
      top: 1rem;
      border-radius: 100%;
    }

    .event__name{
      font-weight: 600;
      margin-bottom: .5rem;
    }

    .event__details{
      & > div{
        font-size: 1.2rem;
      }
    }

    // .speakers__container{
    //   width: 100%;
    // }

    // .speakers__category{
    //   display: block;
    //   margin-bottom: .5rem;
    //   text-transform: capitalize;
    // }

    // .speakers__list{
    //   width: 100%;
    //   display: flex;
    //   flex-wrap: wrap;
    //   gap: 1rem;

    //   .speakers__item{
    //     display: flex;
    //     align-items: center;
    //     margin-bottom: .5rem;
    //     padding-right: 1rem;
    //     gap: 1rem;
    //     background: none;
    //     box-shadow: none;

    //     @include my_bp(sm){
    //       width: 40%;
    //     }

    //     .speakers__photo{
    //       border-radius: 100%;
    //       width: 8rem;
    //       height: 8rem;
    //       flex-shrink: 0;
    //       overflow: hidden;
    //       box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
          
    //       img{
    //         border-radius: 100%;
    //         height: 100%;
    //         border-right: 0.25rem solid #fac42b;
    //         border-bottom: 0.25rem solid #fac42b;
    //       }
    //     }

    //     .speakers__description{
    //       text-align: left;
    //       margin: 0;
    //     }

    //   }

    // }

  }
}
