.speakers__category{
    margin-bottom: 0.5rem;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    color: rgb(56, 19, 194);
    text-transform: capitalize;
    margin-bottom: 2rem;
    text-align: center;
    display: none;
  }
  
  .speakers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
  }
  
  .speakers__item {
    width: 20%;
    
    img{
      max-width: 100%;
    }
  }
  
  .speakers__name{
    font-weight: bold;
  }
  
  .speakers__designation{
    font-size: .9rem;
  }
  
  .speakers__organisation{
    font-size: .9rem;
    display: none;
  }
  
  .speakers__description{
    text-align: center;
  
  }