doctype html
html(lang='en')
  include parts/header.pug
  //- link(rel="stylesheet" href="https://events.startupmission.in/css/agenda.css")
  link(rel="stylesheet", href="./css/home.scss")
  link(rel="stylesheet", href="./css/slider.scss")
  link(rel="stylesheet", href="./css/jquery.countdown.css")

  body

    include parts/menu.pug
    include parts/mixin.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    #preload
      .preload
        .spinner
    
    #slider-section
      .slider.stick-dots
        +slide("slide1.jpg", "", "Rural India Business conclave", "and Rural-AgriTech Hackathon")
        +slide("slide2.jpg", "", "Rural India Business conclave", "and Rural-AgriTech Hackathon")
        +slide("slide4.jpg", "", "Rural India Business conclave", "and Rural-AgriTech Hackathon")
      .slider-content
        img.w-25(src="./img/logo_white.svg", alt="")
        //- h1.animated.fadeInUp Rural India Business Conclave &
        h2.animated.fadeInLeft &amp; Rural-AgriTech Hackathon
        .button-section
          a.button(target="_blank" href="https://rateup.app/ws/HDTg6Wcc") Register for RIBC 3.0 Conclave
          a.button(target="_blank" href="https://events.startupmission.in/rural_conclave_2024") Agenda
          //- a.button(target="_blank" href="https://rateup.app/ws/8QPnw9Fm") Apply for Rural - Agritech Hackathon

    section#highlight
      .container-fluid
        .row
          #left.left.col-lg-7.col-md-6.text-right
            h1 Join the conference
            p.m-0
              | @ ICAR - Central Plantation Crops Research Institute, Kasaragod
          #right.col-lg-5.col-md-6.text-left
            #countdown

    section#intro.section-content
      .container
        .col-sm-12.mb-5
          h1 RURAL INDIA BUSINESS CONCLAVE 2024
          p.text-justify Economic growth of India in the past decade is commendable. It is poised to improve its rank from the present fifth position to the third by the year 2030. This upward journey is bound to be confronted with challenges arising from rising population, income inequality, infrastructure deficits especially in the rural sector, and external factors such as global market trends and trade.
          p.text-justify The robustness of India’s rural economy has a decisive role in sustaining the economic growth. The digital outreach the country achieved has spearheaded faster and more efficient access for finance, innovative business models and technology by the rural communities.
          p.text-justify Here comes the relevance of the Rural India Business Conclave (RIBC), which has emerged as a single largest platform to explore rural innovations and business opportunities and to learn from successful startups across India. It brings together entrepreneurs, policymakers, investors, and startup founders to share experiences and views on sustainable business practices, agricultural advancements, rural development, and the role of technology in enhancing the rural economy.
        .col-sm-12
          h3 Objectives
          ul
            li To enable digital transformation from seed to sale in farming.
            li To improve rural livelihood through technology integration and participatory evaluation.
            li Identify and nurture formal and informal innovations having applications in the rural sector.
            li To highlight investment opportunities in innovation  upscaling. 
            li To maneuver  startup ventures to reap the opportunities in Agri-sector.
            li To conduct competition events for students/youths/farmers on problem solving innovations.

    //- section#intro(style="display: none;")
    //-   .container
    //-     .col-sm-12 
    //-       .speakers_heading Speakers
    //-       script(src="https://events.startupmission.in/js/speakers.js" data-event="rural-business-conclave")

    //- section#intro.section-content
    //-   .container
    //-     .col-sm-12
    //-       .speakers_heading Agenda
    //-       .agenda(data-agenda="rural_conclave_2024" data-style data-base )
            
    //- script(src="https://events.startupmission.in/api/script/agenda" type="module")


    //- section.pb-5
    //-   .container
        
    //-     .row
    //-       .col-sm-12.text-center
    //-         h3 AGENDA
    //-         p STARTUPS TO LEVERAGE RURAL ECONOMY
    //-       .col-sm-6
    //-         h3.text-center.mb-4 11 JUNE 2020
    //-         .tabs
    //-           +accordion("1 - FOUNDERS TALK", 1)
    //-             p.text-justify Founders who build startups for the Rural development will share there experience
    //-           +accordion("2 - PANEL DISCUSSIONS", 2)
    //-             p.text-justify Startup founders, Investors, Policy makers,academicians will discuss different aspects if Rural Economy.
    //-           +accordion("3 - KNOWLEDGE SESSIONS", 3)
    //-             p.text-justify Different research institutes discuss the gap and present different projects
    //-           +accordion("4 - GALA DINNER", 4)
    //-             p.text-justify Innovator - Investor Interface
    //-       .col-sm-6
    //-         h3.text-center.mb-4 9 JUNE 2020
    //-         .tabs
    //-           +accordion("1 - DREAM BIG KALPA", 5)
    //-             p.text-justify Dream-Big Kalpa'is organized at ICAR-CPCRI every year since 2015 to bring together scientists and industrialists in a single platform. The 2020 edition of Dream -Big Kalpa will have the presence of scientists from other ICAR-research Institutes and Incubation Centres and thus will make it as a technology sourcing fair. Those who wish to establish agribusiness based on agricultural technologies and products available with ICAR institutes are welcome to participate int this programme.
    //-           +accordion("2 - LEGAL ESSENTIALS", 6)
    //-             p.text-justify Discuss the legal essentials to start,run & set
    //-           +accordion("3 - ROUND TABLE ON HARNESSING WISDOM", 7)
    //-             p.text-justify Addressing the requirements of post-career entrepreneurs
    //-           +accordion("4 - HACKATHON PRESENTATION", 8)
    //-             p.text-justify Selected startups present the idea before audience

    section#guildelines.pt-5
      .container
        .row
          .col-sm-12
            h1.text-center.mb-5 Rural-AgriTech hackathon
            h2.text-center Date: 14 - 15 December 2024
            h2.text-center.mb-5 Venue: Central University of Kerala, Kasaragod

            h4.text-center Problem Statements
          .challenges
            .challenge-item
              .challenge-content
                img.img-fluid(src="./img/coconut.jpg", alt="")
                .content
                  h3 Detection of maturity of coconut (Tender coconut or mature nut)
                  h4 # KGDABI021
                  //- p Manual grafting is tedious and highly skill-oriented – i.e., only very few people are expert in the field.  While sophisticated robotic solutions are available, may not be required for small firms.  Thus the requirement of robotic assisted grafting
                a.button(href="#")(style="display: none;") Know More
                .slide
                  .close x
                  table.table
                    tbody
                      tr
                        th Problem ID
                        td KGDABI011
                      tr
                        th Problem statement
                        td Application of Robotics in grafting
                      tr
                        th Challenge description with context
                        td Manual grafting is tedious and highly skill-oriented – i.e., only very few are experts in the field.  While sophisticated robotic solutions are available, it may not be required for small firms.  Thus, the requirement of robotic-assisted grafting for small firms.
                      tr
                        th Exact problem
                        td Manual selection of scion and rootstock.  Robotic arms may hold the two plants and execute the desirable cut/chop and then complete the grafting process. 
                      tr
                        th Users
                        td General public
                      tr
                        th Expected outcome
                        td We expect only a prototype – advanced versions are welcome
                      tr
                        th Potential impact
                        td Scope for R & D with ICAR-Institutions.
                      tr
                        th Probable discipline
                        td Computer science, Mechanical, Robotics
                      tr
                        th Contact person
                        td 
                          | Dr.Manoj Kumar & Mr. Manikantan
                          br
                          | e-mail: drtsmanojkumar@gmail.com
                          br
                          | Mob: 9400334940 / 9496296986

            .challenge-item
              .challenge-content
                img.img-fluid(src="./img/11634.7ea98433 1.png", alt="")
                .content
                  h3 Robotic device to climb coconut tree for harvesting
                  h4 # KGDABI022
                  //- p Coconuts of different maturity are being harvested for different purposes:  For instance, 7-8 months old nuts are harvested for tender nut purposes; 10 month old nuts are harvested for making coconut chips and 11-12 month old nuts are harvested to make copra.  The automated harvesting devices should have a mechanism to identify the stage of the nut. 
                a.button(href="#")(style="display: none;") Know More
                .slide
                  .close x
                  table.table
                    tbody
                      tr
                        th Problem ID
                        td KGDABI012
                      tr
                        th Problem statement
                        td Detect aberration for standard value of fat content in solid food products
                      tr
                        th Challenge description with context
                        td Conventional laboratory techniques to check adulteration or quality-deterioration of solid food products (e.g., desiccated coconut, cashew kernels etc.) are time consuming. The industries and/or consumers are looking for non-destructive rapid tool/sensors to detect the fat content in coconut products or processed cashew etc.
                      tr
                        th Exact problem
                        td Develop non-destructive device/sensors to rapidly detect the fat content in coconut products.
                      tr
                        th Users
                        td Industries and public
                      tr
                        th Expected outcome
                        td We expect only a prototype demonstrating the concept
                      tr
                        th Potential impact
                        td Scope for R & D with ICAR-Institutions
                      tr
                        th Probable discipline
                        td Computer science, Mechanical, Food Technology
                      tr
                        th Contact person
                        td
                          | Dr. M. R. Manikantan & Dr. S. V. Ramesh
                          br
                          | e-mail: manicpcri@gmail.com / rameshsvbio@gmail.com
                          br
                          | Mob: 8078761449 / 9993892302

            .challenge-item
              .challenge-content
                img.img-fluid(src="./img/11788_05 1.png", alt="")
                .content
                  h3 Estimation of coconut canopy
                  h4 #KGDABI023
                  //- p A typical multiple cropping system consists of various perennial and annual crops. Farmers has been following sprinkler irrigation since it covers the entire farm and is easy to operate. However, at a time when scarcity of water occurs drip irrigation is the only alternative. Water requirement of each component crops in the farm would be different. The challenge is to provide irrigation to each component crop as per their requirement and time.
                a.button(href="#")(style="display: none;") Know More
                .slide
                  .close x
                  table.table
                    tbody
                      tr 
                        th Problem ID
                        td KGDABI013
                      tr
                        th Problem statement
                        td Computer/mobile – based monitoring and controlling of drip irrigation system for multiple cropping systems.
                      tr
                        th Challenge description with context
                        td Tempering (i.e., heating and cooling the chocolate mix) decides the quality of chocolate. Fat content in cocoa butter is capable of solidifying into different polymorphic forms.  The objective of tempering is to arrange the physical "packing" of stable cocoa butter crystals into the right number and size. Insufficient tempering leads to chocolates of uneven texture when it is cut or broken, and further, it starts developing fat bloom during storage. Hence, a sensor is needed to detect whether the tempering process has been done properly to know whether fat crystals are formed uniformly.
                      tr
                        th Exact problem
                        td Develop non-destructive device/sensors to rapidly detect the uniformity of fat crystals found in chocolates
                      tr
                        th Users
                        td Cottage Industries, distributors of chocolates and public
                      tr  
                        th Expected outcome
                        td We expect only a prototype demonstrating the concept
                      tr  
                        th Potential impact
                        td Scope for R & D with financial assistance from Coconut Development board
                      tr  
                        th Probable discipline
                        td Computer science & IoT applications,  Food Technology
                      tr  
                        th Contact person
                        td 
                          | Dr. Shameena Beegum P.P.
                          br
                          | e-mail: shameena.pht@gmail.com
                          br
                          | Mob: 9496898780

            .challenge-item
              .challenge-content
                img.img-fluid(src="./img/theyyam.png", alt="")
                .content
                  h3 Cultural and Culinary Heritage Mapping Platform
                  h4 #KGDABI024
                  //- p There are many on-line marketing platforms: The challenge is to create a virtua- realization of  ‘weekly santhai’ (or ‘chantha’ in Malayalam) with visuals of the real product and facilitating face to face negotiation.  A specific problem in this regard may be framed and present the ‘Distinct Solution’.  
                a.button(href="#")(style="display: none;") Know More
                .slide
                  .close x
                  table.table
                    tbody
                      tr
                        th Problem ID
                        td KGDABI014
                      tr
                        th Problem statement
                        td Detection of maturity of coconut (tender coconut or mature nut), preferably from ground
                      tr
                        th Challenge description with context
                        td Coconuts are harvested either as tender coconut (6 to 7 months old) or fully mature coconut (11 months and above).     Skill of the harvesting person plays an important role in harvesting coconuts of desired maturity. Harvesters generally tap the fruit and decide the maturity stage depending upon the resultant sound.  Colour and smoothness of the surface of the husk also are indicators of coconut maturity but may vary among varieties. 
                      tr
                        th Exact problem
                        td The requirement is to develop a gadget to determine the age of coconut, preferably from ground itself to correctly distinguish the tender coconuts from matured ones.
                      tr
                        th Users
                        td Skilled labourers, device for automatic climbing and harvesting devices
                      tr
                        th Expected outcome
                        td The device that distinguish tender coconut from mature coconut
                      tr
                        th Potential impact
                        td Scope for R & D with financial assistance form Coconut Development Board.
                      tr
                        th Probable discipline
                        td Computer Science, IoT applications
                      tr
                        th Contact person
                        td 
                          | Dr. A C Mathew & Dr. R. Pandiselvam
                          br
                          | e-mail:  acmathew@yahoo.com / anbupandi006@gmail.com
                          br
                          | Mob: 9447955490 / 8610712483

            
            .challenge-item
              .challenge-content
                img.img-fluid(src="./img/farmprecise_feedbackblog 1.png", alt="")
                .content
                  h3 Farm Direct : A mobile app for the small and marginal farmers to sell their produce
                  h4 #KGDABI025
                  //- p Waste management is a burning problem that warrants a multi-directional approach.  Not all types of waste can be handled at one place or by a single agency. The quantity and volume of different types of waste generated also vary.  The challenge is to create a network of aggregators for every type or even parts of waste (including electronic and chemical waste), locating nearest one, communication, etc.
                a.button(href="#")(style="display: none;") Know More
                .slide
                  .close x
                  table.table
                    tbody
                      tr
                        th Problem ID
                        td KGDABI016
                      tr
                        th Problem statement
                        td An exclusive platform to map the local tourism destinations, regional based cultural and art forms and local made products.Also a market place from where  visiting tourists can order or buy products made by the villagers.
                      tr
                        th Challenge description with context
                        td Making better places for people to live in and better places for people to visit '' is the motto of Responsible Tourism Mission, Kerala.  It is envisaged with a 'triple-bottom-line' mission - economic, social and environmental responsibilities. The mission aspires to provide additional income and a better livelihood to farmers and traditional artisans.  It uses tourism as a tool for achieving this goal.  It then requires connecting local communities, entrepreneurs, artisans, and performing artists to the visiting tourists.  Also the platform should provide means to sell local products, highlight a calendar of important festivities in the location and other amenities.
                      tr
                        th Exact problem
                        td Cloud based mobile application facilitating multidimensional flow of information, processing and display.
                      tr
                        th Users
                        td Local artisans, performing artists, entrepreneurs, farmers, tourists
                      tr
                        th Expected outcome
                        td A mobile Application
                      tr
                        th Potential impact
                        td Scope for commercialization with the support of Kerala Startup Mission
                      tr
                        th Probable discipline
                        td Computer Science and IoT applications
                      tr
                        th Contact person
                        td 
                          | Dhanya, Kasaragod District coordinator, RT Mission
                          | Mob: 98473 98283


            .challenge-item(style="display: none;")
              .challenge-content
                img.img-fluid(src="./img/drip.jpg", alt="")
                .content
                  h3 Regulating drip irrigation based on daily weather and soil conditions and locating the blockage in drippers
                  h4 # KGDABI015
                  //- p Waste management is a burning problem that warrants a multi-directional approach.  Not all types of waste can be handled at one place or by a single agency. The quantity and volume of different types of waste generated also vary.  The challenge is to create a network of aggregators for every type or even parts of waste (including electronic and chemical waste), locating nearest one, communication, etc.
                a.button(href="#")(style="display: none;") Know More
                .slide
                  .close x
                  table.table
                    tbody
                      tr
                        th Problem ID
                        td KGDABI015
                      tr
                        th Problem statement
                        td Regulating drip irrigation based on daily weather and soil conditions and locating the blockage in drippers
                      tr
                        th Challenge description with context
                        td The major problem in drip irrigation systems is blockage in drippers and hence it warrants routine check for blockages. Also, the irrigation scheduling is based on evaporation and moisture content in soil. For an efficient drip irrigation system, it is necessary to have continuous data on weather and soil moisture level which automatically decides upon starting or stopping water application. Also if a system can identify blockage in the drippers with location of dripper, it will greatly aid in rectifying the blockage with minimum manual movement.
                      tr
                        th Exact problem
                        td Cloud-based system interface and Mobile App for receiving data input, processing and switch on/off irrigation
                      tr
                        th Users
                        td Farmers, agencies providing drip irrigation systems
                      tr
                        th Expected outcome
                        td A mobile Application 
                      tr
                        th Potential impact
                        td Scope for commercialization with the support of Kerala Startup Mission
                      tr
                        th Probable discipline
                        td Computer Science and IoT applications
                      tr
                        th Contact person
                        td 
                          | Dr Ravi Bhat & Dr. P. Subramanian
                          | e-mail:  bhatravi@gmail.com / subramanian.omshanthi@gmail.com
                          | Mob: 8281313818 / 9446433511


                


    section.section-content#benefits.mt-5(style="display: none;")
      .container
        .row
          .col-sm-12
            .flex-parent.section-content
              .input-flex-container
                .input
                  span(data-year='May 12' data-info='Applications Open')
                .input
                  span(data-year='May 30' data-info='Last date to apply')
                .input
                  span(data-year='Jun 01' data-info='Shortlisting entries')
                .input
                  span(data-year='Jun 02' data-info='Shortlisted entries to be announced')
                .input
                  span(data-year='Jun 09 & 10' data-info='Hackathon')
                .input
                  span(data-year='Jun 11' data-info='Presentation and winner announcement')
                  
      .container.mt-5
        .row
          .col-sm-6
            h3 Challenge guidelines
            ul
              li The solution must be focused on the given problem statements.
              li Time duration is 30 hrs.
              li Any Web/Mobile platform can be used to suggest solution.
              li Prototype is mandatory to present Solutions before the jury.
              li Maximum team strength is 2-5 members.
          .col-sm-6
            h3 Who can apply?
            p.small You are eligible to apply if you are
            ul
              li A startup 
              li An innovator
              li Student
              li Developer or Tech Enthusiast

      .container
        .row
          .col-sm-12
            h1.my-5.text-center What will Your get?
        .row
          .grid
            .grid-item
              .grid-content
                img.img-fluid(src="./img/prize.png")
                h4 Cash Prize 50000
            .grid-item
              .grid-content
                img.img-fluid(src="./img/incubation.png")
                h4 Incubation Support
            .grid-item
              .grid-content
                img.img-fluid(src="./img/cloud.png")
                h4 Cloud Credits
            .grid-item
              .grid-content
                img.img-fluid(src="./img/fund.png")
                h4 Access to various funds
            .grid-item
              .grid-content
                img.img-fluid(src="./img/grant.png")
                h4 Opportunity to get 12 lakh Idea Grant
            .grid-item
              .grid-content
                img.img-fluid(src="./img/more.png")
                h4 and many more...
      
    //- section.section-content.pt-0
    //-   .container
    //-     .row
    //-       .col-sm-12
    //-         h1.text-center SITI EXPO
    //-         h2.text-center Science, Invention, Technology, & Innovation Exibition
    //-         h3.text-center 27 February to  March 2020
    //-       .col-sm-12
    //-         h3.pt-4 WHO ALL CAN EXHIBIT?
    //-         p.text-justify Agri-Horti Fair & SITI Expo will be an ideal platform for growers, traders, input agencies, and other stakeholders in agri sector including livestock and fisheries. Besides, there will be a special pavellion for startups.
          
    //- section#speaker-section.pb-5.mb-5
    //-   .container
    //-     h1.mb-4.text-center Speakers
    //-     .speakers(v-cloak)
    //-       .speaker(v-for="speaker in speakers")
    //-         img(:src="speaker.photo")
    //-         .descp
    //-           h4 {{speaker.name}}
    //-           h5 {{speaker.position}}
    //-           h5 {{speaker.company}}

    section.section-content#info
      .container
        .row.justify-content-center.align-items-start
          
          //- .col-sm-3.justify-content-center.d-flex.flex-column.align-items-center
          //-   img.img-fluid(src="./img/date.png")
          //-   p.m-0 Exhibition
          //-   p Feb 27, 2020 to March 3, 2020
          .col-sm-3.justify-content-center.d-flex.flex-column.align-items-center
            img.img-fluid(src="./img/date.png")
            p.m-0 Rural Business Conference
            p December 14 & 15, 2024
          .col-sm-3.justify-content-center.d-flex.flex-column.align-items-center
            img.img-fluid(src="./img/map.png")
            p ICAR - Central Plantation Crops Research Institute, Kasaragod

          .col-sm-3.justify-content-center.d-flex.flex-column.align-items-center
            img.img-fluid(src="./img/date.png")
            p.m-0 Rural Agritech hackathon
            p December 14 & 15, 2024
          .col-sm-3.justify-content-center.d-flex.flex-column.align-items-center
            img.img-fluid(src="./img/map.png")
            p Central University of Kerala, Kasaragod
    
    
    section#speaker-section.mt-5.pt-5.mb-5.pb-5
        .container
          h1.mb-4 Speakers
          .speakers(v-cloak)
            .speaker-item(v-for="speaker in data")
              .speaker
                img(:src="speaker.photo")
                .desc.text-center
                  h4 {{speaker?.name}}
                  p {{speaker?.designation}}
                  p {{speaker?.organisation}}


    section(style="line-height:0")
      //- iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3896.851046072863!2d75.08909177426156!3d12.392902727303184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba47b031dc7334f%3A0xffe04fb35cc41116!2sCentral%20University%20of%20Kerala%20(CUK)!5e0!3m2!1sen!2sin!4v1730893478520!5m2!1sen!2sin' width='100%' height='450' frameborder='0' style='border:0;' allowfullscreen='')

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7789.504202776053!2d74.96289478836056!3d12.532574874214642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba4829d6f1836fb%3A0xf97fc4fca8ae5f1f!2sICAR-CPCRI!5e0!3m2!1sen!2sin!4v1731304380068!5m2!1sen!2sin" width='100%' height='450' frameborder='0' style='border:0;' allowfullscreen=''>
      //- iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3896.851046072863!2d75.08909177426156!3d12.392902727303184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba47b031dc7334f%3A0xffe04fb35cc41116!2sCentral%20University%20of%20Kerala%20(CUK)!5e0!3m2!1sen!2sin!4v1730893478520!5m2!1sen!2sin' width='100%' height='450' frameborder='0' style='border:0;' allowfullscreen='')
    section.section-content#sponsor
      .container
        .row.justify-content-center
          h1.mb-5 Organisers
          .partners
            .partner-item
              a(href="https://startupmission.kerala.gov.in" target="_blank")
                img.img-fluid(src="./img/ksum.png")
            .partner-item
              a(href="http://www.cpcri.gov.in/" target="_blank")
                img.img-fluid(src="./img/cpcri .png")
            .partner-item
              a(href="https://www.cukerala.ac.in/" target="_blank")
                img.img-fluid(src="./img/central university kerala.png")  
    
    
    //- section.section-content#sponsor
    //-   .container
    //-     .row.justify-content-center
    //-       h1.mb-5 Partners
    //-       .partners
    //-         .partner-item
    //-           img.img-fluid(src="./img/lbs.png")
    //-           h4.text-center Knowledge Partner
    //-         .partner-item
    //-           img.img-fluid(src="./img/cuk.png")
    //-           h4.text-center Knowledge Partner
    //-         .partner-item
    //-           img.img-fluid(src="./img/fourart.png")
    //-           h4.text-center Design Partner

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")    
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
